<div class="About">
	
	<%= image_tag("about.ico", class: "img")%>
	<h1>About</h1>
	<P>TechParadise is an Application idea management system that is designed to match ideas with developers. </P>
</div>