
<div class="header">
	
	<div class="register">
		<h1 id="logo">TECHPARADISE</h1>
		<%=link_to("About", "#",class: "headerlinks")%>
		<%=link_to("Help", "#", class: 'headerlinks')%>
		
	</div>
	<div class="headernavs">
		
		<%=link_to("Sign In", "#" , class: "headerlinks")%>
		<%=link_to("Sign Up", "#",class: "headerlinks loginbutton")%>
	</div>
	
	
</div>
