
<div class="header">
	<h1>TECHPARADISE</h1>
	<div class="register">
		<%=link_to("Sign In", "#" , class: "headerlinks")%>
		<%=link_to("Sign Up", "#",class: "headerlinks")%>
	</div>
	<div class="headernavs">
		<%=link_to("About", "#",class: "headerlinks")%>
		<%=link_to("Help", "#", class: 'headerlinks')%>
	</div>
	
	
</div>
