<div class="help">
	
	<%= image_tag("help.jpg", class: "img")%>
	<h1>Help</h1>
	<h2>In order to be able to post your own idea.You must create and account first.Similarly,if you want to respond to an idea, you must log in to your account.</h2>
</div>