<div class="About">
	
	<%= image_tag("about.ico", class: "img")%>
	<br>
	<br>
	<br>
	<h1>About</h1>
	<br>
	<P id= "aboutp"> TechParadise is an Application idea management system that is designed to <br>  match ideas with developers. </P>
</div>