<div class="help" id="helpsection">
	
	<%= image_tag("help.jpg", class: "img")%>
	<br>
	<br>
	<br>
	<h1>Help</h1>
	<br>
	
	
	<p id="helpp"> In order to be able to post your own idea.You must create an account first.Similarly,if you want to respond to an idea, you must log in to your account. </p>
</div>